{% extends "base.html" %}
{% block title %}myBoards{% endblock %}
{% block content %}
<div class="container m-5">
    <div class="float-right">
        <p><a href="{% url "logger:board_create" %}" title="">Create board</a> |
            <a href="{% url "logger:log_list" %}">myLogs</a></p>
    </div>
    <h4 class="display-4">Your Boards:</h4>
    {% if board_list %}
    <ul>
    	{% for board in board_list %}
        <li><a class="text-decoration-none" href="{% url "logger:board_detail" board.id %}">{{ board.name }}</a><br>
            &nbsp;&nbsp;<a href="#">Edit</a> |
            <a href="{% url "logger:board_delete" board.id %}">Delete</a></li>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    	<p class="alert alert-info">You don't have any Boards</p>
    {% endif %}
</div>
{% endblock content %}